.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus {
  background: #000;
  color: #00ffff;
}

.navbar-brand {
  ;
  color: #00ffff;
}

.navbar-header a.navbar-brand:hover {
  color: #00ffff;
  background: #000;
}

.body {
  position: relative;
  background: #00ffff;
}

.align-top {
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.home-title {
  text-align: center;
}

.home-section {
  height: 955px;
  margin-left: -15px;
  margin-right: -15px;
  background: url("https://scontent.cdninstagram.com/t51.2885-15/e15/11313232_519172038249098_514968452_n.jpg?ig_cache_key=OTkzMjA2Mjg2NzIxNDYzOTc4.2")no-repeat center center fixed;
  background-size: cover;
}

.home-padding {
  padding-top: 15%;
}

.home-title {
  font-size: 6em;
  color: #fff;
  text-shadow: 1px 1px 3px #00ffff;
  letter-spacing: 2.5px;
}

.home-text {
  text-align: center;
  font-size: 2em;
  color: #fff;
  text-shadow: 3px 3px 5px #00ffff;
}

.about-section {
  height: 955px;
  background: url("https://scontent.cdninstagram.com/t51.2885-15/e15/11355909_607454422691364_268064208_n.jpg?ig_cache_key=MTAzMzcyODY0ODcxMzU4MjU1OQ%3D%3D.2") no-repeat center center fixed;
  background-size: cover;
  margin-left: -15px;
  margin-right: -15px;
}

.about-text{
  color: #fff;
  font-size: 2em;
  letter-spacing:2px;
  text-shadow: 3px 3px 3px #000;
}
.about-top{
  padding-top: 200px;
}
.profile-pic {
  box-shadow: 3px 3px 3px #000;
  border-radius: 15px;
  
}

.btn:hover {
  color: #00ffff;
  background: #000;
  border: 2px solid #66ffcc;
  border-color: #66ffcc;
  transform: scale(1.1);
  transition: 1s;
  text-shadow: 0px 0px 0px #000;
  box-shadow: 3px 3px 3px #000;
}

.btn-default {
  background: #66ffcc;
  border: 2px solid #66ffcc;
  display: inline-block;
  box-shadow: 3px 3px 3px #666666;
  font-size: 1.3em;
  margin: 10px;
  color: #000;
}

hr.intro-divider {
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: #000;
  width: 80%;
}

.home-subtitle {
  font: 1em;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 3px 3px 3px #000;
}

.portfolio-section {
  height: 955px;
  margin: 0px -15px 0 -15px;
  background: url("https://scontent.cdninstagram.com/t51.2885-15/e15/891331_1484324088463743_1381759174_n.jpg?ig_cache_key=NzExMDY5ODE4MjQwMzQ5NDkx.2") no-repeat center center fixed;
  background-size: cover;
}

.portfolio-line {
  margin-top:150px;
  color: #fff;
  font-size: 2em;
  letter-spacing:2px;
  text-shadow: 3px 3px 3px #000;
  margin-left:48px;
}

.contact-section {
  height: 955px;
  margin-top:-25px;
  margin-left: -15px;
  margin-right: -15px;
  background: url("https://scontent.cdninstagram.com/t51.2885-15/e15/11313232_519172038249098_514968452_n.jpg?ig_cache_key=OTkzMjA2Mjg2NzIxNDYzOTc4.2") no-repeat center center fixed;
  background-size: cover;
}

.contact-text{
  text-align: left;
  font-size: 2em;
  color: #fff;
  text-shadow: 3px 3px 5px #00ffff;
  list-style:none;
}
.contact-line{
  color: #fff;
  font-size: 2em;
  letter-spacing:2px;
  text-shadow: 3px 3px 3px #000;
  margin-left:48px;
}

.byline {
  padding-top: 40px;
  text-align: center;
  height: 127px;
  background-color: #333333;
  margin: 0 -15px 0 -15px;
  color: #00ffcc;
  font-size: 2em;
  letter-spacing: 4px;
}
